In [2]:
import pymongo
import pandas as pd

In [ ]:
'''
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)
'''

In [2]:

emp_df = pd.read_csv('Employee.csv')
print("done reading file")
print(emp_df.head())

done reading file
   Unnamed: 0 first_name Minit  last_name  \
0           0       Mary     a       Anna
1           1       Anna     b       Emma
2           2       Emma     c  Elizabeth
3           3  Elizabeth     d     Minnie
4           4     Minnie     e   Margaret

                                Address       BDate  Sex   Salary
0           7353 HIGHLAND RD, STE B 282  2000-01-01  0.0      0.0
1               9007 HIGHLAND RD, STE 9  2001-02-02  1.0   3000.0
2   5830 S SHERWOOD FOREST BLVD, STE A6  2002-03-03  2.0   6000.0
3  4520 S SHERWOOD FOREST BLVD, STE 103  2003-04-04  0.0   9000.0
4                 8334 O'HARA CT, STE D  2004-05-05  1.0  12000.0

In [3]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Employee']

listDict = []
for i in range(100):
    listDict.append(emp_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(100):
    collection.insert_many(listDict[i])
    if i%10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [4]:
dep_df = pd.read_csv('Department.csv')
print("done reading file")
print(dep_df.head())

done reading file
   Unnamed: 0                            Dname    Mgr_SSN Mgr_Start_Date
0           0       G2uaKs1hVo5uDm1fwluIKy4aSr  1601222.0     2016-06-11
1           1                 xNDUlw79PRm2FhXa  1045890.0     2021-10-05
2           2     LZYUZWWRpLhSIkVBfV5453i2xk1x  1560490.0     2019-06-26
3           3                 aWymboJEQ4ZPMhmH   935296.0     2013-07-11
4           4  DystpqIH3Vgpl468rgRAlMwkDwiMVZm    52888.0     2001-01-26

In [7]:


client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Department']

listDict = []
for i in range(100):
    listDict.append(dep_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(100):
    collection.insert_many(listDict[i])
    if i%10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [5]:
proj_df = pd.read_csv('Project.csv')
print("done reading file")
print(proj_df.head())

done reading file
   Unnamed: 0                                           Pname  \
0           0                              advanced databases
1           1                                              9F
2           2                           LEZ3SwJIykqigwhJ1bPw7
3           3             Vyp3AQZxOF4zQNki7hAU5m5B7X4gY1o3cy6
4           4  ffI4FhNEyXiK9ri5QToVRIBkxg5pUCgOV1m7BB868r2nm8

                              Plocation  DNO
0           7353 HIGHLAND RD, STE B 282  1.0
1               9007 HIGHLAND RD, STE 9  2.0
2   5830 S SHERWOOD FOREST BLVD, STE A6  3.0
3  4520 S SHERWOOD FOREST BLVD, STE 103  4.0
4                 8334 O'HARA CT, STE D  5.0

In [8]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Project']

listDict = []
for i in range(100):
    listDict.append(proj_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(100):
    collection.insert_many(listDict[i])
    if i%10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90

In [9]:
intern_df = pd.read_csv('Intern.csv')
print("done reading file")
print(intern_df.head())

done reading file
   Unnamed: 0      Fname Minit      Lname       Bdate  \
0           0       Anna     C       Anna  2000-01-25
1           1       Emma     P       Emma  2001-02-24
2           2  Elizabeth     g  Elizabeth  2000-04-01
3           3     Minnie     y     Minnie  2000-03-27
4           4   Margaret     U   Margaret  2013-05-21

                               Address_  Sex   Salary                  Major  \
0               9007 HIGHLAND RD, STE 9  1.0  57209.0          sales manager
1   5830 S SHERWOOD FOREST BLVD, STE A6  2.0  83730.0              principal
2  4520 S SHERWOOD FOREST BLVD, STE 103  2.0  82711.0                  owner
3                 8334 O'HARA CT, STE D  2.0  53267.0   chief executive offi
4               4250 BLOUNT RD, UNIT 14  0.0  38652.0           math teacher

   Super_SSN
0   220600.0
1   390500.0
2    79200.0
3     3700.0
4   231100.0

In [10]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Intern']

listDict = []
for i in range(10):
    listDict.append(intern_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(10):
    collection.insert_many(listDict[i])
    if i%10 == 0:
        print(i)

0

In [11]:
Contracts_df = pd.read_csv('Contracts.csv')
print("done reading file")
print(Contracts_df.head())

done reading file
   Unnamed: 0  (0, 'Name_Company') Date_created  ProjectID  Product  \
0           0                  NaN   2013-05-21        2.0    63999
1           1                  NaN   2011-10-03        3.0    37891
2           2                  NaN   2010-02-24        4.0    88587
3           3                  NaN   2015-08-24        5.0   121650
4           4                  NaN   2019-02-16        6.0   162283

       Price Date_of_Contract   Emp_Name  Emp_SSN Contractor_Name   Cont_SSN  \
0  1063907.0       2000-10-21       Anna      1.0            Mary  4000001.0
1  1381986.0       2000-10-21       Emma      2.0            Anna  4000002.0
2   339553.0       2000-10-21  Elizabeth      3.0            Emma  4000003.0
3  1849411.0       2000-10-21     Minnie      4.0       Elizabeth  4000004.0
4   755588.0       2000-10-21   Margaret      5.0          Minnie  4000005.0

                      Delivery_Location                           Name_Company
0               9007 HIGHLAND RD, STE 9  ciqDzQscRAzPZFxAuJQRVCirDrVjOpBWrLxnZ
1   5830 S SHERWOOD FOREST BLVD, STE A6                     KFqJgCHGVaErlKgdpZ
2  4520 S SHERWOOD FOREST BLVD, STE 103        ukVppMOmkNpJZkERpIqIREwGBNmPzJB
3                 8334 O'HARA CT, STE D                   wXRnxJuvZEnAOFJKmUaU
4               4250 BLOUNT RD, UNIT 14  ajOumJOykLPVbzPznvsvBRLhBseNWNWcsaixK

In [12]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Contracts']

listDict = []
for i in range(10):
    listDict.append(Contracts_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(10):
    collection.insert_many(listDict[i])
    if i%100 == 0:
        print(i)

0

In [13]:
WorksOn_df = pd.read_csv('Works_On.csv')
print("done reading file")
print(WorksOn_df.head())

done reading file
   Unnamed: 0  ESSN  PNO  Hours
0           1   1.0  1.0   46.0
1           2   2.0  2.0   44.0
2           3   3.0  2.0   45.0
3           4   4.0  2.0   24.0
4           5   5.0  2.0   20.0

In [14]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Works_On']

listDict = []
for i in range(10):
    listDict.append(WorksOn_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(10):
    collection.insert_many(listDict[i])
    if i%100 == 0:
        print(i)

0

In [15]:
Dependent_df = pd.read_csv('Dependent.csv')
print("done reading file")
print(Dependent_df.head())

done reading file
   Unnamed: 0.1  Unnamed: 0  ESSN                      Dependent_Name  Sex  \
0             0           0   1.0        paZKVTQLByxdXhOCpyxXxLUpiqqj  1.0
1             1           1   2.0       FMQDdqvlxinFUqMVSuGIbqbkLorMc  1.0
2             2           2   3.0            CjuVAbakpmWAYMFsHoCqobKc  2.0
3             3           3   4.0  MmGysbOQtdhSRszpXLMzszspphVNUHeuzT  0.0
4             4           4   5.0                VVXLuargiWnLGulRAkVD  2.0

        Bdate Relationship
0  2019-09-06       Lotlux
1  2001-07-06  Mat Lam Tam
2  2005-08-17     Wrapsafe
3  2001-06-24     Treeflex
4  2017-09-12       Vagram

In [16]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Dependent_']

listDict = []
for i in range(10):
    listDict.append(Dependent_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(10):
    collection.insert_many(listDict[i])
    if i%100 == 0:
        print(i)

0

In [17]:
DeptLoc_df = pd.read_csv('Dept_Locations.csv')
print("done reading file")
print(DeptLoc_df.head())

done reading file
   Unnamed: 0  Dnumber                  Dlocation
0           1      1.0          10082 E POMONA DR
1           2      2.0          16933 TENEIYA AVE
2           3      3.0          13630 LANDMARK DR
3           4      4.0          11733 SUN BELT CT
4           5      5.0  17100-17400 BLACKWATER RD

In [3]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['Project']
collection = db['Dept_Locations']

In [ ]:

listDict = []
for i in range(10):
    listDict.append(DeptLoc_df.iloc[i*1000:(i+1)*1000,1:].to_dict("records"))

for i in range(10):
    collection.insert_many(listDict[i])
    if i%100 == 0:
        print(i)

In [5]:
collection = db['Employee']
result =collection.aggregate([{"$lookup":{"from":'Department',"localField":'Dnumber',"foreignField":'DNO',"as":'Dep'}},{"$lookup":{"from":'Project',"localField":'DNO',"foreignField":'Dnumber',"as":'Pr'}},{"$match":{"$expr":{"$and"[{"$gt":['Salary', 5000]},{"$gt":["Mgr_SSN", "SSN"]}]}}}])

<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\swak\AppData\Local\Temp\ipykernel_21200\3281950770.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  result =collection.aggregate([{"$lookup":{"from":'Department',"localField":'Dnumber',"foreignField":'DNO',"as":'Dep'}},{"$lookup":{"from":'Project',"localField":'DNO',"foreignField":'Dnumber',"as":'Pr'}},{"$match":{"$expr":{"$and"[{"$gt":['Salary', 5000]},{"$gt":["Mgr_SSN", "SSN"]}]}}}])
C:\Users\swak\AppData\Local\Temp\ipykernel_21200\3281950770.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  result =collection.aggregate([{"$lookup":{"from":'Department',"localField":'Dnumber',"foreignField":'DNO',"as":'Dep'}},{"$lookup":{"from":'Project',"localField":'DNO',"foreignField":'Dnumber',"as":'Pr'}},{"$match":{"$expr":{"$and"[{"$gt":['Salary', 5000]},{"$gt":["Mgr_SSN", "SSN"]}]}}}])
C:\Users\swak\AppData\Local\Temp\ipykernel_21200\3281950770.py:2: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  result =collection.aggregate([{"$lookup":{"from":'Department',"localField":'Dnumber',"foreignField":'DNO',"as":'Dep'}},{"$lookup":{"from":'Project',"localField":'DNO',"foreignField":'Dnumber',"as":'Pr'}},{"$match":{"$expr":{"$and"[{"$gt":['Salary', 5000]},{"$gt":["Mgr_SSN", "SSN"]}]}}}])

TypeError: string indices must be integers